.country-list {
  .country-data {
    h3 {
      color: orange;
      text-shadow: 2px 1px 3px black;
    }
    p {
      color: black;
      margin: 40px;
      padding: 150px;
      border: 2px solid darkgrey;
      border-radius: 10px;
    }
    .clear-search {
      height: 30px;
      margin-left: 10px;
      border-radius: 4px;
      color: white;
      font-weight: bold;
      background: none;
      cursor: pointer;
    }

    .more-country-details {
      height: 30px;
      margin-left: 10px;
      border-radius: 4px;
      color: white;
      font-weight: bold;
      background: none;
      cursor: pointer;
    }
  }
}
